.App {
  text-align: center;
  background-color: #99e6ff;
}

.App-header {
  background-color: #99e6ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.wrapper-welcome {
  background-color: #e6f9ff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: calc(1px + 2vmin);
  border: solid #1BA5D8;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-welcome-one {
  width: 65%;
  transform: rotate(-15deg);
}

.image-welcome-two {
  width: 65%;
  transform: rotate(15deg);
}
